services:
  app:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - backend
    networks:
      - app-network
    env_file:
      - .env

  backend:
    container_name: backend
    build:
      context: ./backend
    environment:
      DATABASE_NAME: home_dashboard
      DATABASE_USER: user
      DATABASE_PASS: pass
      DATABASE_URI: mongodb://user:pass@mongodb:27017/home_dashboard?authSource=admin
      NODE_ENV: development
    expose:
      - '3000'
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      - MONGODB_DATABASE=home_dashboard
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=pass
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongodb_data:
