services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf/:/etc/letsencrypt/
      - ./certbot/www/:/var/www/certbot/
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - certbot
    networks:
      - app-network
    restart: on-failure
    entrypoint: |
      /bin/sh -c '
      until [ -f /etc/letsencrypt/live/dashboard.deldev.ovh/fullchain.pem ] && [ -f /etc/letsencrypt/live/dashboard.deldev.ovh/privkey.pem ]; do
        echo "Waiting for certificates to be generated..."
        sleep 5
      done
      nginx -g "daemon off;"'

  backend:
    container_name: backend
    build:
      context: ./backend
    environment:
      DATABASE_NAME: home_dashboard
      DATABASE_USER: user
      DATABASE_PASS: pass
      DATABASE_URI: mongodb://user:pass@mongodb:27017/home_dashboard?authSource=admin
    expose:
      - '3000'
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - app-network
    restart: on-failure

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=home_dashboard
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=pass
    ports:
      - 27017:27017
    volumes:
      - ./backend/data:/data/db
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  nginx-backend:
    image: nginx:alpine
    container_name: nginx-backend
    ports:
      - '8080:80'
      - '8443:443'
    volumes:
      - ./backend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf/:/etc/nginx/ssl/
      - ./certbot/www/:/var/www/certbot/
    depends_on:
      - backend
      - certbot
    networks:
      - app-network
    entrypoint: |
      /bin/sh -c '
      until [ -f /etc/nginx/ssl/live/dashboard-server.deldev.ovh/fullchain.pem ] && [ -f /etc/nginx/ssl/live/dashboard-server.deldev.ovh/privkey.pem ]; do
        echo "Waiting for certificates to be generated..."
        sleep 5
      done
      nginx -g "daemon off;"'

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf/:/etc/letsencrypt/
      - ./certbot/www/:/var/www/certbot/
    command: certonly --webroot -w /var/www/certbot --force-renewal --email delektowski@interia.pl -d dashboard.deldev.ovh -d dashboard-server.deldev.ovh --agree-tos

networks:
  app-network:
    driver: bridge
