:host {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    
}

p-button {
    transform: scale(2);
    margin-block-end: 2rem;
}