.header-place-name {
  display: inline-block;
  inline-size: 6rem;
  margin-right: 2rem;
}

.badge-width {
  width: 80px;
}

.container__current-temp {
  inline-size: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  & > p {
    font-size: .6rem;
    margin-block-start: 0.15rem;
    margin-block-end: 0;
    font-style: italic;
  }
}

.hide-uninitialized {
  visibility: hidden;
}


.container__spinner {
  inline-size: 1rem;
  block-size: 1rem;
}
