.header-place-name {
  display: inline-block;
  inline-size: 6rem;
  text-transform: uppercase;
  font-size: .7rem;
}

.badge-width {
  inline-size: 3.75rem;
  padding-inline-start: .5rem;
  padding-inline-end: 0;
}

.container__badges {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  gap: .3rem;
  justify-content: center;
  align-items: center;
}

.badge-temperature {
  grid-row: 1;
}

.badge-humidity {
  grid-row: 2;
}

.created-at {
  grid-column: 3;
  font-size: .6rem;
  margin-block-start: 0.15rem;
  margin-block-end: 0;
  font-style: italic;
  transform: translateX(-25%);
}

.container__badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & i {
    position: absolute;
    left: .2rem;
    color: black;
  }
}

.hide-uninitialized {
  visibility: hidden;
}


.container__spinner {
  inline-size: 1rem;
  block-size: 1rem;
}


