<div class="card" [ngClass]="{'hide-uninitialized': !isInitialized}">
  <p-panel [toggleable]="true" [collapsed]="true" (onBeforeToggle)="onCollapsedChange($event)">
    <ng-template #header>
      <span class="header-place-name">{{ measuresLastAggregated?.placeName || '' }}</span>
      <span [class]="'container__spinner'">
        @if (homeMeasuresService.isSpinner) {
          <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                              [style]="{ width: '1rem', height: '1rem' }"/>
        }
      </span>
      <div class="container__badges">
        @for (key of measuresLastAggregatedKeys ; track key) {
          @if (measuresLastAggregated ? measuresLastAggregated[key] || '' : '') {
            <ng-container *ngTemplateOutlet="badgeTemplate, context:{
             value: measuresLastAggregated ? measuresLastAggregated[key] || '' : '', createdAt: key === 'temperature' ? measuresLastAggregated?.createdAt : undefined, measureType: key
          } "/>
          }
        }
      </div>
    </ng-template>
    <ng-content></ng-content>
  </p-panel>
</div>


<!--TEMPLATES-->
<ng-template #badgeTemplate let-value="value"let-createdAt="createdAt"
             let-measureType="measureType">
  <div class="container__badge badge-temperature"
       [ngClass]="{'badge-temperature':temperatureKeys.has(measureType), 'badge-humidity': !temperatureKeys.has(measureType)}"
       title="measureType">
    <p-badge styleClass="badge-width" value="{{value}} {{temperatureKeys.has(measureType) ? '&deg;C' : '%'}} " badgeSize="xlarge"
             [severity]="severityConfig.get(measureType)?.() || defaultSeverity()"/>
    <ng-container *ngTemplateOutlet="badgeIcon" />


  </div>
  @if (createdAt) {
    <p class="created-at">{{ createdAt | date:'H:mm' }}</p>
  }

  <ng-template #badgeIcon>

    @switch (measureType) {
      @case ('temperature') {
        <i class="pi pi-sun" style="font-size: .5rem"></i>
      }
      @case ('maxTemperature') {
        <i class="pi pi-arrow-up" style="font-size: .5rem"></i>
      }
      @case ('minTemperature') {
        <i class="pi pi-arrow-down" style="font-size: .5rem"></i>
      }
      @case ('avgTemperature') {
        <i class="pi pi-chart-line" style="font-size: .5rem"></i>
      }
      @case ('humidity') {
        <i class="pi pi-percentage" style="font-size: .5rem"></i>
      }
      @case ('maxHumidity') {
        <i class="pi pi-arrow-up" style="font-size: .5rem"></i>
      }
      @case ('minHumidity') {
        <i class="pi pi-arrow-down" style="font-size: .5rem"></i>
      }
      @case ('avgHumidity') {
        <i class="pi pi-chart-line" style="font-size: .5rem"></i>
      }
      @default {
        <i class="pi pi-check" style="font-size: .5rem"></i>
      }
    }
  </ng-template>
</ng-template>


