.header-place-name {
  display: inline-block;
  inline-size: 6rem;
}

.badge-width {
  inline-size: 3.75rem;
}

.container__badges {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  gap: .3rem;
  justify-content: center;
  align-items: center;
}

.badge-temperature {
  grid-row: 1;
}

.badge-humidity {
  grid-row: 2;
}

.container__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > p {
    font-size: .6rem;
    margin-block-start: 0.15rem;
    margin-block-end: 0;
    font-style: italic;
  }
}

.hide-uninitialized {
  visibility: hidden;
}


.container__spinner {
  inline-size: 1rem;
  block-size: 1rem;
}


