<div class="card" [ngClass]="{'hide-uninitialized': !isInitialized}">
  <p-panel  [toggleable]="true" [(collapsed)]="allCollapsed" (onAfterToggle)="onCollapsedChange($event)">
    <ng-template #header>
      <span class="header-place-name">{{ measuresLastAggregated?.placeName || '' }}</span>
      <span [class]="'container__spinner'">
        @if (homeMeasuresService.isSpinner) {
          <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                              [style]="{ width: '1rem', height: '1rem' }"/>
        }
      </span>
      <div class="container__badges">
        @for (key of measuresLastAggregatedKeys ; track key) {
          @if (measuresLastAggregated && typeof measuresLastAggregated[key] === 'number') {
            <ng-container *ngTemplateOutlet="badgeTemplate, context:{
   value: measuresLastAggregated[key], createdAt: key === 'temperature' ? measuresLastAggregated?.createdAt : undefined, measureType: key, isTimeUpdated: measuresLastAggregated?.isTimeUpdated} "/>
          }
        }
      </div>
    </ng-template>
    <ng-content></ng-content>
  </p-panel>
</div>


<!--TEMPLATES-->
<ng-template #badgeTemplate let-value="value"let-createdAt="createdAt"
             let-measureType="measureType" let-isTimeUpdated="isTimeUpdated">
  <div class="container__badge badge-temperature"
       [ngClass]="{'badge-temperature':temperatureKeys.has(measureType), 'badge-humidity': !temperatureKeys.has(measureType), 'no-humidity': !hasHumidity && !temperatureKeys.has(measureType)}"
       title="measureType">
    <p-badge styleClass="badge-width" value="{{value}} {{temperatureKeys.has(measureType) ? '&deg;C' : '%'}} " badgeSize="xlarge"
             [severity]="severityConfig.get(measureType)?.() || defaultSeverity()"/>
    <ng-container *ngTemplateOutlet="badgeIcon; context:{isBelowZero: value < 0}" />


  </div>
  @if (createdAt) {
    <p class="created-at" [ngClass]="{'created-at--red': !isTimeUpdated}">{{ createdAt | date:'H:mm' }}</p>
  }

  <ng-template #badgeIcon let-isBelowZero="isBelowZero">

    @switch (measureType) {
      @case ('temperature') {
        <i class="pi pi-sun badge-font-size" style="font-size: .5rem;" [ngClass]="{'badge-color-white': isBelowZero}"></i>
      }
      @case ('maxTemperature') {
        <i class="pi pi-arrow-up badge-font-size"[ngClass]="{'badge-color-white': isBelowZero}"></i>
      }
      @case ('minTemperature') {
        <i class="pi pi-arrow-down badge-font-size"[ngClass]="{'badge-color-white': isBelowZero}"></i>
      }
      @case ('avgTemperature') {
        <i class="pi pi-chart-line badge-font-size"[ngClass]="{'badge-color-white': isBelowZero}"></i>
      }
      @case ('humidity') {
        <i class="pi pi-percentage badge-font-size"></i>
      }
      @case ('maxHumidity') {
        <i class="pi pi-arrow-up badge-font-size"></i>
      }
      @case ('minHumidity') {
        <i class="pi pi-arrow-down badge-font-size"></i>
      }
      @case ('avgHumidity') {
        <i class="pi pi-chart-line badge-font-size"></i>
      }
      @default {
        <i class="pi pi-check badge-font-size"></i>
      }
    }
  </ng-template>
</ng-template>


